
Hello,

In order to help maintain the security of your ${AppName} account, please verify your email address by clicking the following link:

${URL}

Thank you and Happy Coding!

- The ${AppName} Team