Hello,

You recently requested login information for your ${AppName} account. 

Your username is: ${username}

To reset your password for this account, click on the link below:

${passwordResetURL}

If you did not request a password change, you may ignore this message and your password will remain unchanged.

If you have any questions, please contact dev-c2c@tasktop.com for further assistance.

Thank you for using ${AppName}. Happy Coding!

- The ${AppName} Team