.cellTreeWidget {
  
}

.cellTreeEmptyMessage {
  padding-left: 16px;
  font-style: italic;
}

.cellTreeItem {
  cursor: hand;
  cursor: pointer;
}

.cellTreeItemImage {
  
}

.cellTreeItemImageValue {
  
}

.cellTreeItemValue {
  padding-left: 3px;
  padding-right: 3px;
  outline: none;
}

.cellTreeOpenItem {
  
}

.cellTreeTopItem {
  font-weight: bold;
  color: #4b4a4a;
  padding: 3px 13px 3px 10px !important;
}

.cellTreeTopItemImage {
  
}

.cellTreeTopItemImageValue {
  padding-bottom: 1px;
}

.cellTreeKeyboardSelectedItem {
  background-color: #ffc;
  outline: none;
}

@sprite .cellTreeSelectedItem {
  gwt-image: 'cellTreeSelectedBackground';
  background-color: #628cd5;
  color: white;
  height: auto;
  overflow: visible;
}

.cellTreeShowMoreButton {
  padding-left: 16px;
  outline: none;
}